# container/mysql/my.cnf

[mysqld]
# データベースのデフォルトの文字コードを`utf8mb4`に設定します。
# `utf8`と異なり、4バイト文字(絵文字など)も扱うことができます。
character-set-server=utf8mb4

# 文字の並び順や比較のルールを設定します。
# `utf8mb4_unicode_ci`は、大文字と小文字を区別しない(Case-Insensitive)一般的なルールです。
collation-server=utf8mb4_unicode_ci